modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 23776
externalPort = 3000

[[ports]]
localPort = 23777
externalPort = 3002

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_LIUCYsOUZNaGiwJUrFgINfLaZMv"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_RlrROIfJpWDCsNAmTwnFtMpxjdj"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_qyOFTPWHOJkOlkiOvkcYRTMDPlr"
REVENUECAT_PROJECT_ID = "proja1e3bd7f"
REVENUECAT_TEST_STORE_APP_ID = "app2874cd847f"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app2d54b29bf0"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app50c59aacc1"
